<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
<title> BECC-4B</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="cool-xs-12">
                <h1 class="jumbotron">VueJs-BECC-4B</h1>
                <div id="app">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th style="width: 40px;"></th>
                                <th>Descripcion</th>
                                <th style="width: 200px;">monto</th>
                                <th style="width: 100px;">pagado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <input type="text" class="form-control" v-model="newEntry.name"/>
                                </td>
                                <td>
                                    <input type="text" class="from-control" v-model="newEntry.amount"/>
                                </td>
                                <td>
                                <button @click="add()" type="button" class="btn btn-success btn-block"> Agregar
                                </button>
                                </td>
                            </tr>

                            <tr v-if="items.length==0">
                                <td colspan="4" class="text-center">
                                    no se han encontrado pagos pendientes
                                </td>
                            </tr>
                            <tr v-for="item, index in items">
                                <td>
                                    <button @click="remove(index)"
                                    type="button" class="btn btn-danger btn-xs">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.amount.toFixed(2)  }}</td>
                                <td class="text-center" :title="item.paid ? 'si' : 'no' ">
                                <button @click="changeToPaid(item)"
                                 class="btn btn-default btn-sm" 
                                :class="{ 'btn-success': item.paid }"
                                >
                                    <i v-if="item.paid" class="glyphicon glyphicon-ok"></i>
                                    <i v-if="!item.paid" class="glyphicon glyphicon-remove"></i>
                                </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td class="text-right">por pagar</td>
                                <td>{{ totalAmount(0) }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">pagado</td>
                                <td>{{ totalAmount(1) }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-right">total</td>
                                <td>{{ totalAmount(2) }}</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <script>
     var app = new Vue({
    el:'#app',
    data: {
        newEntry:{
            name:'',
            amount:0,
            paid: false
        },
        items:[
            { name: 'servicios', amount: 200,  paid: false},
            { name: 'hosting de bruno', amount: 90,  paid: true},
                ]
    },
    methods:{
        remove: function(index){
            this.items.splice(index,1);
        },
        add(){
            this.items.push({
                name: this.newEntry.name,
                amount: parseFloat(this.newEntry.amount),
                paid:false
            });

            this.newEntry.name='';
            this.newEntry.amount=0;
        },
        changeToPaid(item){
            item.paid = !(item.paid);
        },
        totalAmount(t){
            var total = this.items.reduce(function(a, b) {
                switch(t){
                    case 0:return a + (!b.paid ? b.amount:0);
                    case 1:return a + (b.paid ? b.amount:0);
                    case 2:return a + b.amount;
                }
             return a + b.amount;   
            }, 0);
            return total.toFixed(2);
        }
    }
  });

    </script>
</body>
</html>